.message {
  &:not(:empty) {
    border: 1px solid;
    padding: 5px;
  }

  &--notice {
    background-color: lighten($green, 50%);
    color: $green;
  }

  &--alert {
    background-color: lighten($red, 50%);
    color: $red;
  }
}
