// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .button {
    margin-left: 10px;
  }
}

.back {
  padding: 7px 0;
  border-bottom: 1px dotted darken($white, 10%);

  &__link {
    text-decoration: none;
    display: block;

    &::before {
      display: inline-block;
      position: relative;
      content: '';
      width: 7px;
      height: 7px;
      border-left: 1px solid $black;
      border-top: 1px solid $black;
      transform: rotate(-45deg)
    }
  }
}