.tasks-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 20px;
  padding: 0;

  &__item {
    margin: 10px;
    padding-top: 20px;
    min-width: 100px;
    position: relative;
  }

  &__icons {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__icon {
    margin-left: 10px;

    img {
      width: 13px;
    }
  }
}

.sorted-link {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}