$white: #fff;
$black: #000;
$gray: #333;
$gray--light: darken($white, 10%);

$green: #008000;
$red: #f00;

$primary: #599bb3;
$button-blue--hover: #408c99;
$button-pink: #ffc0cb;
$button-text-shadow: #3d768a;
